__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
*.egg
.env
.venv/
env/
venv/
ENV/
VENV/
*.db
*.sqlite3

.git/
.gitmodules
simulators/CraneIoT/.git/

.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

Dockerfile
.dockerignore
entrypoint.sh